html, body {
  background: #FFF;
  font-family: "Roboto", sans-serif;
  margin: auto;
  padding: auto;
  height: 100%;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

button {font-weight: 500 !important;}

.mdc-card {
  height: 350px;
  width: 350px;
}

.mdc-card__media-content {
  padding: 16px;
}
