html, body {
  background: #FFF;
  font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.mdc-card {
  height: 350px;
  width: 350px;
}

.mdc-card__media-content {
  padding: 16px;
}
